*.csv
*_backup*
__pycache__/
*.pyc

consulta_outros_resultados.py
desktop.ini
index_antigo.html
pagina_recebida.html
resultado.html
servidor(4)_corrigido_v2.py
servidor.py
servidor_consulta.py

diagnostico_feradasorte.py
iniciar_feradasorte.pyw
iniciar_feradasorte_seguro.py
iniciar_feradasorte_teste.py